.movie-card-link {
  text-decoration: none;
  color: inherit;
}

.movie-card {
  width: 220px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }

  .movie-poster {
    width: 100%;
    height: 320px;
    object-fit: cover;
  }

  .movie-info {
    padding: 10px;

    .movie-title {
      margin: 6px 0;
      font-size: 16px;
      text-transform: capitalize;
    }

    .movie-meta {
      margin: 0;
      font-size: 14px;
      color: #555;
    }
  }

}
  @media(max-width: 600px){
    .movie-card { 
        width: 100%;
    }
    .movie-card-link{
        width: 100vw;
    }
  }