
.movies-grid {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}



.load-more-container {
  margin: 30px 0;
}

.load-more-btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  background-color: #222;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease;
  position: absolute;
  transform: translate(50%, 50%);
  bottom: 100px;
  right: 50%;

  &:hover {
    background-color: #444;
  }
}

.error-state,
.empty-state {
  text-align: center;
  margin-top: 40px;

  img {
    max-width: 300px;
    margin-bottom: 16px;
    opacity: 0.8;
  }

  p {
    color: #555;
    margin-bottom: 12px;
  }

  button {
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: #222;
    color: #fff;
  }
}

@media (max-width: 600px) {
    .movies-grid {
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .load-more-btn{
        position: relative;
        transform: translate(50%, 50%);
        bottom: 100px;
        right: 50%;
    }
}